#control {
     -fx-background-color: #00BF9A;
     -fx-border-radius: 2px;
     -fx-cursor: pointer;
     -fx-display: flex;
     -fx-align-self: center;
     -fx-font-size: 15;
     -fx-line-height: 1;
     -fx-padding: 10px 30px;
     -fx-text-decoration: none;
     -fx-text-align: center;
     -fx-text-transform: uppercase;
     -fx-font-weight: 700;
     -fx-border-width: 2px;
     -fx-text-fill: #F3F7F0;
}

#control:hover {
	-fx-background-color: #005b49;
}
#disabled {
	-fx-background-color: #9DA09C;
	-fx-text-fill: #24282b;
}
#disabled {
	-fx-background-color: #9DA09C;
	-fx-text-fill: #24282b;
}

#main-text {
	-fx-font-family: 'Roboto', sans-serif;
	-fx-font-size: 18;
}

#title-text {
	-fx-font-family: 'Roboto', sans-serif;
	-fx-font-size: 40;
	-fx-fill: rgb(229, 229, 229);
}

.axis { 
	-fx-tick-label-fill: rgb(229, 229, 229);
	-fx-tick-label-font: bold 12 "sans-serif";
	-fx-control-inner-background: #00BF9A;
}

#predator {
	-fx-background-color: rgb(249, 249, 249);
	-fx-font-family: 'Roboto', sans-serif;
	-fx-font-size: 15;
	-fx-text-fill: rgb(105,105,105);
	-fx-border-width: 2px;
	-fx-border-color: rgb(105,105,105);
	-fx-border-radius: 3px;
	-fx-padding: 20px;
	-fx-min-width: 240px;
}

#predator:hover {
	-fx-background-color: rgb(114, 156, 255);
	-fx-text-fill: rgb(229, 229, 229);
}

#fire {
	-fx-background-color: rgb(249, 249, 249);
	-fx-font-family: 'Roboto', sans-serif;
	-fx-font-size: 15;
	-fx-text-fill: rgb(105,105,105);
	-fx-border-width: 2px;
	-fx-border-color: rgb(105,105,105);
	-fx-border-radius: 3px;
	-fx-padding: 20px;
	-fx-min-width: 240px;
}

#fire:hover {
	-fx-background-color: rgb(255, 173, 86);
}

#life {
	-fx-background-color: rgb(249, 249, 249);
	-fx-font-family: 'Roboto', sans-serif;
	-fx-font-size: 15;
	-fx-text-fill: rgb(105,105,105);
	-fx-border-width: 2px;
	-fx-border-color: rgb(105,105,105);
	-fx-border-radius: 3px;
	-fx-padding: 20px;
	-fx-min-width: 240px;
}

#life:hover {
	-fx-background-color: rgb(163, 255, 112);
}

#segregation {
	-fx-background-color: rgb(249, 249, 249);
	-fx-font-family: 'Roboto', sans-serif;
	-fx-font-size: 15;
	-fx-text-fill: rgb(105,105,105);
	-fx-border-width: 2px;
	-fx-border-color: rgb(105,105,105);
	-fx-border-radius: 3px;
	-fx-padding: 20px;
	-fx-min-width: 240px;
}

#segregation:hover {
	-fx-background-color: rgb(99, 219, 255);
}

#pick-sim {
	-fx-font-family: 'Roboto', sans-serif;
	-fx-font-size: 25;
	-fx-fill: rgb(105,105,105);
}