.button {
     -fx-background-color: #00BF9A;
     -fx-border-radius: 2px;
     -fx-cursor: pointer;
     -fx-display: flex;
     -fx-align-self: center;
     -fx-font-size: 15;
     -fx-line-height: 1;
     -fx-padding: 10px 30px;
     -fx-text-decoration: none;
     -fx-text-align: center;
     -fx-text-transform: uppercase;
     -fx-font-weight: 700;
     -fx-border-width: 2px;
     -fx-text-fill: #F3F7F0;
}
.button:hover {
	-fx-background-color: #005b49;
}
.button_disabled {
	-fx-background-color: #9DA09C;
	-fx-text-fill: #24282b;
}
.button_disabled:hover {
	-fx-background-color: #9DA09C;
	-fx-text-fill: #24282b;
}

#main-text {
	-fx-font-family: 'Roboto', sans-serif;
	-fx-font-size: 18;
}

#title-text {
	-fx-font-family: 'Roboto', sans-serif;
	-fx-font-size: 40;
	-fx-text-fill: #c1c1c1;
}

.axis { 
	-fx-tick-label-fill: rgb(229, 229, 229);
	-fx-tick-label-font: bold 12 "sans-serif";
	-fx-control-inner-background: #00BF9A;
}